{% extends 'base.html' %}

{% block content %}
    <div style="width: 60%;">
        <h1> {{ title }} </h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
        </form>
    </div>
{% endblock %}