{% extends 'base.html' %}

{% block content %}
<a href="{% url 'todo:todo-home' %}"><button class="btn btn-primary">back</button></a>
<div class="todo-container--header" style="width: 60%; display: flex; justify-content: space-between; align-items: center;">
    <h1> {{list_name}} </h1>
    <a href="/todo/create-task/{{ list_id }}"><button class="btn btn-outline-success btn-sm" style="height: 40px;">Add Task</button></a>
</div>
<div id="accordion" class="mt-3" style="width: 60%;">
    {% for task in tasks %}
    <div class="card mt-2">
        <div class="card-header" id="{{task.id}}" style="display: flex; justify-content: space-between;">
          <h5 class="mb-0">
            <input type="checkbox">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#card{{ task.id }}" aria-expanded="false" aria-controls="collapseTwo">
                <h5> {{ task.name }} </h5>
            </button>
          </h5>
          <a href="{{ task.get_absolute_url }}/delete">remove</a>
        </div>
        <div id="card{{ task.id }}" class="collapse" aria-labelledby="{{task.id}}" data-parent="#accordion">
          <div class="card-body">
            <p> <span style="font-weight: bold;">details:</span>  {{ task.details }} </p>
            <h4>subtasks</h4>
                
            {% for subtask in subtasks %}
                {% if task.id == subtask.task.id %}
                <div class="card mt-2">
                    <div class="card-body ">
                        <h5 class="mb-0">
                            <input type="checkbox"><span> {{ subtask.name }}</span>
                        </h5>
                    </div>
                </div>
                {% endif %}
            {% endfor%}
            <div class="mt-3">
                <a href="#">+ Add subtask</a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}