{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="jumbotron">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p}}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>  
            </form>
        </div>
    </div>
{% endblock%}