{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>You have been logged out!</h2>
            <a href="{% url 'login' %}">Log in again</a>
        </div>
    </div>
{% endblock%}