{% extends "base.html" %}
{% block content %} 
<div class="jumbotron">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p}}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>  
        </form>
    </div>
</div>
{% endblock%}