{% extends 'base.html' %}

{% block content %}
    <div class="todo-container" style="width: 60%;">
        <div class="todo-container--header" style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Task Lists</h1>
            <a href="{% url 'todo:todo-create-list' %}"><button class="btn btn-outline-success btn-sm" style="height: 40px;">Add List</button></a>
        </div>
        <div class="taskLists">
            {% for tasklist in tasklists %}
                <div class="card mt-2">
                    <div class="card-body " style="display: flex; justify-content: space-between;">
                        <h5> {{ tasklist.name }} </h5>
                        <div>
                            <a href="{{ tasklist.get_absolute_url }}">view</a> |
                            <a href="{{ tasklist.get_absolute_url }}/delete">delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}